# List and Its Default function

In [23]:
# Let's Create a List
lis=['Ford','mustang','Shelby','shelby','GT',950,2020]
#Pos   0        1         2       3      4     5     6
# It is Ordered

# Default Functions

In [25]:
# append Function - Helps to add An Element at the end of the list
lis.append('Blue')
lis

['Ford', 'mustang', 'Shelby', 'shelby', 'GT', 950, 2020, 'Blue']

In [11]:
# clear Function - Helps to clear all the elements
lis.clear()
lis

[]

In [89]:
#lis.append('Ford','mustang','Shelby','shelby','GT',950,2020)
#lis

# We can only append single element to the list at a time

In [22]:
# As the list was Cleared Re-Initializing
lis=['Ford','mustang','Shelby','shelby','GT',950,2020,'Blue']

# copy Function - Used to copy the list which can be stored in another variable
lis_duplicate=lis.copy()

lis_duplicate

['Ford', 'mustang', 'Shelby', 'shelby', 'GT', 950, 2020, 'Blue']

In [18]:
# count Function - Tells how many given elements are present in the list
lis.count('shelby')
# This shows that count is case sensitive

1

In [27]:
# extend Function - Using this function we can append more than one element or list to the list
lis.extend([22,'ABS'])
lis

# Other way
# ext=[22,'ABS']
# lis.extend(ext)

['Ford', 'mustang', 'Shelby', 'shelby', 'GT', 950, 2020, 'Blue', 22, 'ABS']

In [30]:
# index Function - Use to find the index of the element
lis.index('shelby')

2

In [31]:
# Check Output if two similar elemengts are present
lis_duplicate.append('shelby')
lis_duplicate

['Ford', 'mustang', 'Shelby', 'shelby', 'GT', 950, 2020, 'Blue', 'shelby']

In [33]:
lis_duplicate.index('shelby')
# It only Returns the first occurence of the value

3

In [36]:
# insert Function - Used to insert element in the desired position of the list
# position then element
lis.insert(0,'car')
lis

['car',
 'Ford',
 'mustang',
 'Shelby',
 'shelby',
 'GT',
 950,
 2020,
 'Blue',
 22,
 'ABS']

In [37]:
# pop Function - Use to remove the element from the list
# By Default this function Removes from the last
# pop can be used to remove particular element and store it another variable
wst=lis_duplicate.pop()
wst

'shelby'

In [39]:
lis_duplicate
# The last element is removed

['Ford', 'mustang', 'Shelby', 'shelby', 'GT', 950, 2020, 'Blue']

In [40]:
lis_duplicate.pop(2)
lis_duplicate
# If we specify the index Then that element is removed

['Ford', 'mustang', 'shelby', 'GT', 950, 2020, 'Blue']

In [41]:
# reverse Function - Reverses the order of the list
lis_duplicate.reverse()
lis_duplicate

['Blue', 2020, 950, 'GT', 'shelby', 'mustang', 'Ford']

In [90]:
# sort Function - Use to sort in Alphabelical or Numerical Order
# this can be done in ascending as well as decending
# If the list contains both , Throughs an Error

#lis_duplicate.sort()
#lis_duplicate

In [45]:
apl=['sai','kiran','Sai','Kiran']
apl.sort()
apl
# When there is both Capital and Small letters Sorts According to ASCII

['Kiran', 'Sai', 'kiran', 'sai']

In [46]:
nu=[1,-8,6,54,12,-98]
nu.sort()
nu

[-98, -8, 1, 6, 12, 54]

# Dictonary and Its Default Function

In [47]:
# Let's Create a Dictionary
#      key   :   value ,
dit={
    'company':'mclaren',
    'model':'gt',
    'year':2020
}

In [48]:
# clear Function - Clears every thing in the dictionary
dit.clear()
dit

{}

In [76]:
# Re-Initializing
dit={
    'company':'mclaren',
    'model':'gt',
    'year':2020
}

# copy Function - Use to copy the dictionary and save it in another variable
dit_duplicate=dit.copy()
dit_duplicate

{'company': 'mclaren', 'model': 'gt', 'year': 2020}

In [58]:
# fromkeys Function - Use to create a dictionary of keys having same value
keys=('company','model')
dt=dict.fromkeys(keys,'ford')
dt

{'company': 'ford', 'model': 'ford'}

In [59]:
values=('ford','gt')
dt1=dict.fromkeys(keys,values)
dt1

{'company': ('ford', 'gt'), 'model': ('ford', 'gt')}

In [60]:
# get Function - Use to get the value for the specific Key
dit_duplicate.get('company')

'mclaren'

In [61]:
dit.get('price',7800000)
# It can be also useless

7800000

In [62]:
dit
# Using get Won't save new keys

{'company': 'mclaren', 'model': 'gt', 'year': 2020}

In [63]:
# items Function - Use to get a tuple of Keys Value Pair in the diction
dit.items()

dict_items([('company', 'mclaren'), ('model', 'gt'), ('year', 2020)])

In [66]:
# Another Way But dt2 contains the output Value not the dictionary in the form of list
dt2=dit.items()
dt2

dict_items([('company', 'mclaren'), ('model', 'gt'), ('year', 2020)])

In [68]:
# keys Function - Use to get the list of Keys in the list
dit.keys()

dict_keys(['company', 'model', 'year'])

In [77]:
# pop Function - Used to Remove Key and Value from the dictionary
dit_duplicate.pop('model')

'gt'

In [71]:
dit_duplicate

{'company': 'mclaren', 'year': 2020}

In [78]:
# popitem Function - Used to Remove the Key Value pair from the last
dit_duplicate.popitem()

('year', 2020)

In [79]:
dit_duplicate

{'company': 'mclaren'}

In [80]:
# setdefault - Returns the value of the specified key
dit_duplicate.setdefault('company')

'mclaren'

In [82]:
dit_duplicate.setdefault('model','gt')
# If the key does not exist: insert the key, with the specified value

'gt'

In [83]:
dit_duplicate

{'company': 'mclaren', 'model': 'gt'}

In [87]:
# update Function - Used to add Key Value Pair, Basically another Dictionary to the Dictionary
dit_duplicate.update({'year':'2020'})

In [88]:
dit_duplicate

{'company': 'mclaren', 'model': 'gt', 'year': '2020'}

In [91]:
# values Function - Use to Get the values in a list
dit.values()

dict_values(['mclaren', 'gt', 2020])

# Sets and it's Default Function

In [93]:
# Let's create two Sets
# If the set is printed the repeated elements won't be printed

A={1,2,2,4,3,5,7,8,9,6,6,5,8,1}
B={5,4,3,9,1,2,8,7,5,24,6}

In [95]:
# add Function - Used to add single Element to the set at the end, Throughs error when multiple are added
B.add(99)
B

{1, 2, 3, 4, 5, 6, 7, 8, 9, 24, 99}

In [97]:
# copy Function - Used to copy the set to another variable
A_duplicate=A.copy()
A_duplicate

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [98]:
# clear Funnction - Used to clear the whole set
A_duplicate.clear()
A_duplicate

set()

In [99]:
# difference Function - USe to find the difference between the two given sets
dif=A.difference(B)
dif
# dif contains the element which are present in the first set removed from the second

set()

In [100]:
dif=B.difference(A)
dif
# Now dif contains the elements in the second set removed from the first

{24, 99}

In [102]:
# differenece_update Function - Used to check the difference and remove all the similar elements retaining the different one
A_duplicate=A.copy()
B_duplicate=B.copy()

dif=A_duplicate.difference_update(B)
A_duplicate

set()

In [103]:
dif=B_duplicate.difference_update(A)
B_duplicate

{24, 99}

In [106]:
# discard Function - Used to remove elements from the set just like remove Function but doesn't throw error if the element is not present
# It can be used to remove single element at a time
B.discard(24)
B

{1, 2, 3, 4, 5, 6, 7, 8, 9, 99}

In [107]:
# If we discard the repeating element, every repeated element will be removed
B.discard(9)
B

{1, 2, 3, 4, 5, 6, 7, 8, 99}

In [108]:
# If we discard an Unknown element, doesn't throw error
B.discard(87)
B

{1, 2, 3, 4, 5, 6, 7, 8, 99}

In [111]:
# intersection Function - Use to make a set of similar elements in the sets
C={4,23,9,5,2,7}
D=A.intersection(B,C)
D

{2, 4, 5, 7}

In [112]:
# intersection_update - Use to modify the given set , by removing the elements not present all the other set
E={1,2,3,4,5,6,7,8,9}
E.intersection_update(A,B,C)
E

{2, 4, 5, 7}

In [113]:
# isdisjoint Function - Returns whether the two sets are disjoint or not
A_duplicate.isdisjoint(B)

True

In [114]:
# issubset Function - Returns whether the given set is completely contained in another
A_duplicate.issubset(B)

True

In [115]:
# issuperset Function - Returns whether the given set has the elements present in the other set
A.issuperset(E)

True

In [118]:
# pop Function - Used to removes RANDOM element from the set and store it another varaible
re=E.pop()
print(re)
print(E)

2
{4, 5, 7}

In [120]:
# remove Function - Used to remove specific element from the set , throws error if not present
E.remove(7)
E

{4, 5}

In [122]:
#E.remove(8)
#E

# Throws Error

In [123]:
# symmetric_difference Function - Use to create a separate set of non similar elements of the two set
F=A.symmetric_difference(B)
F

{9, 99}

In [125]:
# symmetric_difference_update Function - Use to change the given set to non similar elements of the two
print(E)
print(D)
E.symmetric_difference_update(D)
E

{4, 5}
{2, 4, 5, 7}

{2, 7}

In [126]:
# union Function - Use to create new set of union of given sets
G=A.union(B,C,D)
G

{1, 2, 3, 4, 5, 6, 7, 8, 9, 23, 99}

In [127]:
# update Function - Use to add non similar elemnts from another list to it
A.update(B)
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 99}

# Tuple and It's Default Function

In [128]:
# Let's Create a Tuple
tpl=('vinay','h','s','s')

In [130]:
# count Function - USed to get the number of repeated element
tpl.count('s')

2

In [131]:
# index Function - Used to get the index off the given element
tpl.index('h')

1

# String and It's Default Function

In [132]:
# Let's Create String
s='ford mustang'

In [136]:
# capitalize - capitalize the first word of the sentence
s.capitalize()

'Ford mustang'

In [139]:
# casefold - Lowerizes all the letter in the word
s='fOrD mUstaNg'
s.casefold()

'ford mustang'

In [147]:
# centre - adds space on both the side to make it in the center
s='hakuna matata'
s.center(20)

'   hakuna matata    '

In [148]:
# count - counts number of times the word or letter is repeated
s.count('a')

5

In [150]:
s='carryminati875627'
s.count('7')

2

In [151]:
# encode - 
s.encode()
# DON'T Know

b'carryminati875627'

In [152]:
# endswith - return true or false if the string ends with specific value
s.endswith('7')

True

In [154]:
s='hakuna matat'
s.endswith('a')

False

In [162]:
# expandtabs -set the amount of space too be added between the letters in the string if \t is used
s='m\ti\ts\ts'
print(s.expandtabs(2))
print(s.expandtabs(10))

m i s s
m         i         s         s

In [171]:
# find - Use to find the specific string , it returns the position of the first element if repeated
# It retuens -1 if value is not found
s='take a look at the automatic creation'
print(s.find('at'))
print(s.find('boo'))

12
-1

In [168]:
# format - 
txt1 = "My name is {fname}, I'am {age}".format(fname = "John", age = 36)
txt2 = "My name is {0}, I'am {1}".format("John",36)
txt3 = "My name is {}, I'am {}".format("John",36)

print(txt1)
print(txt2)
print(txt3)
# Copied from w3schools

My name is John, I'am 36
My name is John, I'am 36
My name is John, I'am 36

In [169]:
# I don't know what is format_map

In [172]:
# index - Similar to find , Throws error if the value is not found
#s.index('boo')

ValueError: substring not found

In [173]:
# isalnum - Returns True if all characters in the string are alphanumeric
s='arun ate 2 apples'
s.isalnum()

# Returns False because ' ' space is neither an alphabet nor number

False

In [174]:
s='dhoni7'
s.isalnum()

True

In [176]:
# isalpha - Returns True if all characters in the string are in the alphabet
s='dhoni'
s.isalpha()

True

In [179]:
# isdecimal - Returns True if all characters in the string are decimals
print('12.2'.isdecimal())
print('12'.isdecimal())

# Used in UNICODE

print('\u00101'.isdecimal())

False
True
False

In [180]:
# isdigit - Returns True if all characters in the string are digits
print('12.2'.isdigit())
print('12'.isdigit())

False
True

In [182]:
# isidentifier - Returns True if the string is an identifier
print('str'.isidentifier())

True

In [183]:
# islower - Returns True if all characters in the string are lower case
print('Love'.islower())

False

In [184]:
# Not Understanding isnumeric and isprintable

# isspace - Returns True if all characters in the string are whitespaces
print('     '.isspace())
print('d d d'.isspace())

True
False

In [185]:
# istitle - Returns True if the string follows the rules of a title
print('What The'.istitle())
print('What the'.istitle())

True
False

In [186]:
# isupper - Returns True if all characters in the string are upper case
print('WFH'.isupper())
print('wFh'.isupper())

True
False

In [189]:
# join - use to join the elements of a tuple using anything
print(tpl)
print(' '.join(tpl))

('vinay', 'h', 's', 's')
vinay h s s

In [190]:
# NOt understanding ljust

# lower - Converts a string into lower case
print('WHy God Why'.lower())

why god why

In [191]:
# lstrip - removes all the spaces and tab on the left of the string
print('    \t  stop'.lstrip())

stop

In [192]:
# maketrans and partitions not understanding

# replace - 
print('dogs are very cute'.replace('dogs','cats'))

cats are very cute

In [195]:
# rfind rindex rjust rpartition and rsplit is heavy at the beginning

# rstrip - removes all tabs and whitespaces on the right of the string
print('Wfh       \t     '.rstrip(),'now')

Wfh now

In [196]:
# split splitlines startswith is heavy at the beginning

# strip - removes whitespaces and tabs on both the side of the string
print('work','    \t from     \t   '.strip(),'home')

work from home

In [198]:
# swapcases - replaces uppercase with lowercase and vice versa
print('WfH'.swapcase())

wFh

In [199]:
# title - Capitalizes every word in the string
print('work form home'.title())

Work Form Home

In [200]:
# translate and zfill topic out of my brain error

# upper - convert everything into upper case
print('WorK fRom HoME'.upper())

WORK FROM HOME